.about-hero-img {
    justify-content: center;
    padding: 30px 0;
}

.about-hero-img img {
    width: 700px;
}

.about-heading {
    margin: 30px 0;
}

.btn-info {
    margin: 20px 0;
}