#e-tender-dash h4 {
    color: #333333;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.tender-toggle-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.tender-toggle-box input {
    background-color: #f6f6f6;
}

.tender-list img {
    width: 30px;
    height: 30px;
}

.tender-list {
    margin-right: 10px;
}

.tender-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray; 
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}

.tender-list button {
    margin: 0 10px;
}

.toogle-newTender-container {
    margin-top: 20px;
    border: 1px solid rgb(84, 84, 84);
    padding: 20px;
    border-radius: 15px;
}

.toogle-newTender-container .bg-grey {
    background-color: #f6f6f6;
}