/* Reusable content  */

.btn-green {
    color: white;
    background-color: #00854a;
    padding: 3px 15px;
    border: none;
    border-radius: 5px;
}

.btn-green:hover {
    background-color: #014f2ce1;
}

.btn-red {
    color: white;
    background-color: #ed1d24;
    padding: 3px 15px;
    border: none;
    border-radius: 5px;
}

.btn-red:hover {
    background-color: #00854a;
}

p {
    font-family: verdana;
}

h3 {
    font-size: 30px;
    font-family: CenturyGhothic;
    font-weight: 700;
}

/* Header  */

header {
    padding: 30px 0;
    border: 1px solid lightgray;
}

header .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 130px;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav li {
    margin: 0 15px;
    list-style-type: none;
}

.nav a,
.nav i {
    color: #00854a;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    font-family: Roboto;
}

.nav a:hover,
.nav i:hover {
    color: #ed1d24;
    cursor: pointer;
}

.search-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.search-bar input {
    width: 300px;
    border: 2px solid lightgray;
    padding: 5px 15px;
}

.hideNavMobile {
    display: none;
}

.hideNavMobile button i {
    color: white;
}

@media screen and (max-width: 760px) {
    .hideNav{
        display: none;
    }

    .hideNavMobile {
        display: initial;
    }

    .mobile-nav li {
       list-style-type: none;
       margin: 10px auto;
    }

    .mobile-nav li a {
        color: #00854a;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
    }
}

/* Footer  */


/* top footer  */

footer .top-footer {
    background-color: #58595b;
    padding: 25px 0;
    margin-bottom: -15px;
}

footer .logo img {
    width: 150px;
}

.section-title {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.section-title h3 {
    color: white;
    font-size: 30px;
    margin-bottom: 0px;
}

.hr-bar {
    text-align: center;
    width: 120px;
}

.hr-bar hr {
    border-color: #ed1d24;
    padding: 0;
    margin-bottom: -14px;
    margin-top: 5px;
}

.hr-bar i {
    color: white;
}

.address-bar {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
}

.address-bar p {
    font-size: 17px;
    margin: 0;
    font-weight: 400;
}

.address-bar i {
    font-size: 10px;
    padding: 1px 4px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 4px;
}

.address-container {
    border: 2px solid white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: -1px;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.form-container {
    border: 2px solid white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -1px;
    padding: 20px;
}

footer label {
    color: white;
    font-family: fedra-serif-a-pro-book;
}

footer input {
    color: white;
    background-color: #58595b00;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 3px 7px;
}

footer input::placeholder {
    color: rgb(170, 168, 168);
}

@media screen and (max-width: 760px) {
    .address-container {
        border-radius: 15px;
    }

    .address-container .logo {
        margin-bottom: 20px;
    }

    .form-container {
        border-radius: 15px;
        margin-top: -1px;
    }
}

/* bottom footer  */

.bottom-footer {
    background-color: #fff200;
    margin-top: -15px;
}

.btn-getintouch {
    margin-right: 40px;
}

.footer-contact-name {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer-contact-name input[type=text] {
    width: 48%;
}

@media screen and (max-width: 760px) {
    .bottom-footer p {
        margin-top: 15px;
    }
}